/*Mobile devices*/
.Logo{
    /* height: 7%; */
    height: 60%;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.Logo img{
    height: 100%;
}

/* One way of responsive deisgn */
/* Desktop devices */
/* @media (min-width: 500px){
    .Logo{
        height: 60%;
    }
} */