.ContactData{
    text-align: center;
    width: 80%;
    margin: auto;
    border:  1px solid #dcdcdc;
    margin-top: 60px;
    margin-bottom: 30px;
}

.OrderButton{
    background-color: #badc58;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
    outline: none;
    border:none;
    box-shadow: 2px 2px 5px #6ab04c;
    color: #535c68;
}