/* Mobile devices */
.NavigationSingleItem{
    height: 100%;
    padding: 20px 0;
}

.NavigationSingleItem a{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 0;
    transition: all 0.2s ease-in;
    height: 100%;
    align-items: flex-start;
    color:black;
}

.NavigationSingleItem a:hover,
.NavigationSingleItem a:active,
.NavigationSingleItem a.active{
    border-bottom: 2px solid #40A4C8;
}

/* Desktop devices */
@media(min-width: 500px){
    .NavigationSingleItem{
        display: flex;
        height: 100%;
        align-items: center;
    }
    
    .NavigationSingleItem a{
        color: white;
        text-decoration: none;
        padding: 0 10px;
        border-bottom: 2px solid transparent;
        transition: all 0.2s ease-in;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .NavigationSingleItem a:hover,
    .NavigationSingleItem a:active,
    .NavigationSingleItem a.active{
        background-color: #8F5C2C;
        border-radius: 5px;
        border-bottom: 2px solid #40A4C8;
        color: white;
    }
}